<div class="small-4 columns">
  <a href="http://www.rics.org/uk/find-a-member/member-profile/1110119"><img src="/imgs/logos/regulated_by_rics_logo.png" align="left" class="member-icon"/></a>
  <div class="show-for-medium-up">
    <p class="regulated-by-style text-tiny">Regulated by<br>the RICS</p>
  </div>
</div>

<div class="small-4 columns">
  <p class="design-by-style text-tiny color-black">Web Site Design:
    <a href="http://www.yellowjar.uk">www.yellowjar.uk</a>
  </p>
</div>

<div class="small-4 columns">
    <a href="https://uk.linkedin.com/pub/peter-hayes/22/445/284"><img src="/imgs/logos/linkedIn.png" align="right" class="social-icon"/></a>
</div>
